$primary-color: #a99246;
$light-primary-color: #b3a474;
$dark-primary-color: #806e35;
$secondary-color: black;
// $lightest-primary-color: #cac1a5;
// $tlightest-primary-color: #cac5b5;
$lightest-primary-color: #fff;
$tlightest-primary-color: #f2f2f2;
$darkest-primary-color: #362b07;
$footer-color: #443b1d;
$footer-link-color: #e0d6b9;
$footer-box-color: #5a5135;
